@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Corinthia:wght@700&family=Poppins:wght@300&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    background-image: url('R.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .container{
    max-width: 800px;
    
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .container .text{
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 600;
    color: yellow;
    
  }
  .container form{
    
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin: 32px 0;
    
  }
  form .form-row .input-data{
    border-radius: 16px;
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  form .form-row .textarea{
    height: 70px;
    
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
  
    height: 100%;
    cursor: pointer;
    border: none;
    font-size: 17px;
    background-color: transparent;
    color: yellow;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color:rgb(255, 255, 255);
    
  }
  .textarea textarea{
    resize: none;
    
    padding-top: 20px;
  }
  .input-data label{
    position: absolute;
    
    pointer-events: none;
    bottom: 10px;
    font-size: 25px;
    text-align: center;
    color: yellow;
    transition: all 0.3s ease;
    
  }
  .textarea label{
   
    width: 100%;
    color: yellow;
    bottom: 40px;
    
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #84b6d8;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn .input-data{
    overflow: hidden;
    height: 40px!important;
    width: 23%!important;
  }
  .submit-btn .input-data .inner{
    height: 100%;
    width: 250%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #35e400, #afac0c, #328800, #88ff00);
    transition: all 0.5s;
  }
  .submit-btn .input-data:hover .inner{
    left: 0;
    
  }
  .submit-btn .input-data input{
    background: none;
    border: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  @media (max-width: 700px) {
    .container .text{
      font-size: 30px;
    }
    .container form{
      padding: 20px 0 0 0;
    }
    .container form .form-row{
      display: block;
    }
    form .form-row .input-data{
      margin: 35px 0!important;
    }
    .submit-btn .input-data{
      width: 40%!important;
    }
  }